<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.oauth2.endpoint.mapper.RoleMapper">

    <resultMap id="BaseMap" type="com.school.oauth2.endpoint.domain.Role" autoMapping="true">
        <id column="role_id" property="roleId"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="parent_id" property="parentId"/>
        <result column="level" property="level"/>
        <result column="desc" property="desc"/>
        <result column="is_able" property="able"/>
        <collection property="permissionList" ofType="com.school.oauth2.endpoint.domain.Permission"
                    column="role_id" select="com.school.oauth2.endpoint.mapper.PermissionMapper.selectPermissionByRoleId"/>
    </resultMap>

    <select id="selectRoleByUserId" resultMap="BaseMap">
        SELECT
            r.role_id,
            r.role_code,
            r.role_name,
            r.parent_id,
            r.`level`,
            r.`desc`,
            r.is_able
        FROM oauth_role r
        INNER JOIN oauth_user_role ur ON r.role_id = ur.role_id
        WHERE user_id = #{userId}
    </select>

    <select id="selectRoleByPermissionId" resultType="com.school.oauth2.endpoint.domain.Role">
        SELECT
            r.role_id,
            r.role_code,
            r.role_name,
            r.parent_id,
            r.`level`,
            r.`desc`,
            r.is_able as able
        FROM oauth_role r INNER JOIN oauth_role_permission rp ON r.role_id = rp.role_id
        WHERE rp.permission_id = #{permissionId};

    </select>

    <select id="selectRoleByRoleName" resultMap="BaseMap">
        SELECT
            r.role_id,
            r.role_name,
            r.role_code,
            r.parent_id,
            r.`level`,
            r.`desc`,
            r.is_able,
            r.data_version,
            r.creation_date_time,
            r.create_by,
            r.last_updated_by,
            r.last_updated_date_time
        FROM oauth_role r
        WHERE 1 = 1
        <if test="roleName!=null">
            AND r.role_name = #{roleName}
        </if>
    </select>

    <select id="selectAllById" resultMap="BaseMap">
        SELECT
            r.role_id,
            r.role_name,
            r.role_code,
            r.parent_id,
            r.`level`,
            r.`desc`,
            r.is_able,
            r.data_version,
            r.creation_date_time,
            r.create_by,
            r.last_updated_by,
            r.last_updated_date_time
        FROM oauth_role r
        WHERE r.is_able=TRUE
        <if test="roleId != null">
            AND r.role_id = #{roleId}
        </if>
    </select>
</mapper>

